body {
  /* background: blue; */
}

.container {
  background: grey;
  width: 100%;
  height: 900px;
}

.verde {
  background-color: green;
  width: 98%;
  height: 200px;
  border: 2px solid #000;
  margin-bottom: 10px;
  margin-left: 1%;
}

.azul {
  float: left;
  width: 15%;
  height: 500px;
  background-color: blue;
  border: #000 2px solid;
  margin-left: 40px;
}

.rojo {
  float: right;
  width: 80%;
  height: 600px;
  background-color: red;
  text-align: center;
  border: #000 2px solid;
}

.amarillo1,
.amarillo2,
.amarillo3 {
  display: inline-block;
  background-color: yellow;
  width: 250px;
  height: 250px;
  margin: 10px;
  border: rgb(5, 12, 77) 2px solid;
}

.morado{
  background-color: purple;
  width: 98%;
  height: 250px;
  margin: 10px;
  border: 2px solid rgb(100, 206, 30);
}